
/* DARK MODE */


:root {
    color-scheme: light dark;
    --dark-color: hsl(0, 0, 10%);
    --light-color: hsl(0, 0, 97%);
}


[data-dark="true"] {
    color-scheme: dark;
}

[data-dark="false"] {
    color-scheme: light;
}

html, input, textarea {
    /* color: light-dark(var(--dark-color), var(--light-color)); */
    background-color: light-dark(var(--light-color), var(--dark-color));
}

input, textarea {
    border: 1px solid light-dark(var(--dark-color), var(--light-color));
}